<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todo수정페이지</title>
    <link rel="stylesheet" th:href="@{/css/todo/todoUpdate.css}">
</head>
<body>
<form th:action = "@{/todo/update}" th:method="post" th:object="${todoUpdateForm}">
    <input type="hidden" th:field="*{id}">
    <div>
        <label th:text="내용"></label>
        <input type="text" th:field="*{content}">
        <label th:if="${#fields.hasErrors('content')}" th:errors="*{content}" style="color: red"></label>
    </div>
    <div>
        <label th:text="완료일자"></label>
        <input type="datetime-local" th:field="*{finishAt}">
        <label th:if="${#fields.hasErrors('finishAt')}" th:errors="*{finishAt}" style="color: red"></label>
        <label></label>
    </div>

    <button type="submit">변경하기</button>
</form>
</body>
</html>